*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    justify-content: center;
    flex-wrap: wrap;
    width: 18.75rem;
    height: 25rem;
    background-color: red;
    border-radius: 10px;
}

#screen {
    width: 80%;
    height: 50px;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 40px;
    height: 40px;
}














